{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Delete Item Group{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/forms_style/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="alert alert-danger">
    You do not have permission to delete items group.
</div>
<a href="{% url 'room_incharge:item_list' room_slug=object.room.slug %}"
   class="btn btn-secondary btn-sm">
   Go back
</a>
{% endblock content %}
